body {
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    flex-direction: row;
}

h1 {
    margin: 0;
    padding: 20px;
    font-size: 2.5em;
    color: #333;
}

h1 a {
    text-decoration: none;
    color: #333;
}

nav {
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    gap: 20px;
}