body {
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    flex-direction: row;
}

h1 {
    margin: 0;
    padding: 20px;
    font-size: 2.5em;
    color: #333;
}

h1 a {
    text-decoration: none;
    color: #333;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

nav {
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

article {
    display: flex;
    gap: 20px;
    align-items: center;
}

article img {
    border-radius: 50%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
}